/* global properties */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@font-face {
  font-family: LutoClean;
  src: url(../fonts/Lulo-Clean-W01-One-Bold.ttf);
}

@font-face {
    font-family: FuturaLT-Light;
    src: url(../fonts/FuturaLT-Light.ttf);
}

:root {
    --header-bg-color: #f7f8ce;
    --main-bg-color: #ffffff;
    --deep-bg-color: #f0ff90;
    --red: #fa3a3a;
    --orange: #fa873a;
    --yellow: #faed3a;
    --green: #4afa3a;
    --blue: #3ad4fa;
    --pink: #ff61d8;
    --purple: #4c2dcc;
    --dark-gray: #242323;
    --light-gray: #f3f3f3;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 100;
    background-color: var(--main-bg-color);
    font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: #ffffff;
}
::-webkit-scrollbar-thumb {
	background: #000000;
}

/* utility classes */

.right {align-self: flex-end}

.text-right {text-align: right}

.left {align-self: flex-start}

.center-items {
    justify-content: center;
    align-items: center;
}

.margin-auto {margin: auto}

.text-center {text-align: center}

.row {flex-direction: row}

.column {flex-direction: column}

.flex {display: flex}

.cover {object-fit: cover}

.contain {object-fit: contain}

.margin-top {margin-top: 60px}

.margin-left {margin-left: 25px}

.margin-right {margin-right: 25px}

.position-relative{position: relative}

.dark {
    background-color: var(--dark-gray);
    color: #ffffff;
}

.black-bg {background-color: #000000}

.padding-vertical {padding: 30px 0;}

.padding-bottom {padding-bottom: 30px}

/* header properties */

header {
    position: relative;
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    background-color: var(--header-bg-color);
    height: 15vh;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    box-shadow: 0 0 0.7em #333;
    z-index: 1;
}

header a {
    padding: 5px 15px;
    font-size: 100%;
    color: #000;
    align-self: center;
    text-decoration: none;
    text-align: center;
}

header a:hover {
    text-underline-offset: 5px;
    text-decoration: underline;
}

/* main content properties */

.hero {
    margin: auto;
    width: 100%;
    /* max-height: 85vh; */
}

#watapedia-hero {
    background-image: url("../assets/watapedia-hero.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: 85vh;
    position: relative;
}

.image-hero {
    width: 80%;
    max-width: 900px;
}

h1 {
    font-size: 250%;
    font-family: Montserrat, sans-serif;
}

.title-big {
    font-size: 150%;
}

.hero h1 {
    line-height: 1.5;
    letter-spacing: 15px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20%;
    text-align: center;
}

.hero img {
    width: 100%;
}

/* the section class binds the content to a portion of the page width */
section {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.bg-gray {
    background-color: var(--light-gray);
}

.narrow { 
    width: 80%;
    max-width: 900px;
}

section h2 {
    font-size: 200%;
    margin: 10px 0;
    color: #4c2dcc;
    font-style: italic;
}

section p {
    margin: 10px 0;
    font-size: 100%;
    line-height: 1.3;
    font-family: 'Lato', sans-serif;
}

.banner-img {
    width: 100%;
    display: block;
}

.heading-banner {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-banner h2 {
    color: #ffffff;
    font-size: 250%;
}

.tall {
    height: 75vh;
}


.tall h1 {
    font-family: Lato, sans-serif;
    font-style: italic;
}

.tall:nth-child(even) {
    justify-content: flex-end;
}

.split-img {
    height: 100%;
    width: 50%;
    object-fit: cover;
    align-self: flex-start;
}

.pink {
    color: var(--pink);
}

.purple {
    color: var(--purple);
}

.red {
    color: var(--red);
}

.orange {
    color: var(--orange);
}

.yellow {
    color: var(--yellow);
}

.green {
    color: var(--green);
}

.blue {
    color: var(--blue);
}

.subtitle {
    padding: 5px;
    font-size: 70%;
}

.small-picture {
    object-fit: contain;
    width: 250px;
}

.medium-picture {
    object-fit: contain;
    width: 500px;
    max-width: 50%;
}

.text-box {
    max-width: 700px;
}

.songs-list {
    padding-bottom: 60px;
}

.song-item {
    width: 100%;
    display: flex;
    margin-top: 15px;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    border-width: 0 3px;
    border-color: var(--yellow);
    border-style: solid;
}

.song-item:nth-child(even) {
    border-color: var(--pink);
}

.song-item img {
    height: 100%;
}

.song-item h3 {
    color: var(--deep-bg-color);
}

.divider {
    width: 100%;
    position: absolute;
    bottom: calc(-7vw + 30px);
}

/* card elements */

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.song-card {
    position: relative;
    width: 20vw;
    min-width: 150px;
    max-width: 225px;
    height: 20vw;
    min-height: 150px;
    max-height: 225px;
}

.song-card video {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

.song-card img {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

.song-cover {
    opacity: 1;
    object-fit: cover;
    transition-duration: 750ms;
}

.song-teaser {
    object-fit: cover;
    z-index: -1;
}

.song-card:hover .song-cover {
    opacity: 0;
}

/* footer properties */

footer {
    height: 15vh;
    background-color: var(--deep-bg-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    text-decoration: none;
}

.footer-icon {

}

.wow {
    opacity: 0;
    animation-fill-mode: forwards;
}