/* global properties */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');

@font-face {
  font-family: LutoClean;
  src: url(fonts/Lulo-Clean-W01-One-Bold.ttf);
}

@font-face {
    font-family: FuturaLT-Light;
    src: url(fonts/FuturaLT-Light.ttf);
}

:root {
    --header-bg-color: #f7f8ce;
    --main-bg-color: #ffffff;
    --deep-bg-color: #f0ff90;
    --pink: #ef00b5;
    --purple: #4c2dcc;
}

body {
    font-family: FuturaLT-Light, sans-serif;
    font-weight: 100;
    background-color: var(--main-bg-color);
    font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: #ffffff;
}
::-webkit-scrollbar-thumb {
	background: #000000;
}

/* utility classes */

.right {
    align-self: flex-end;
}

.text-right {
    text-align: right;
}

.left {
    align-self: flex-start;
}

.text-center {
    text-align: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.flex {
    display: flex;
}

.cover {
    object-fit: cover;
}

.contain {
    object-fit: contain;
}

.margin-top {
    margin-top: 40px;
}

.margin-left {
    margin-left: 25px;
}

.margin-right {
    margin-right: 25px;
}

/* header properties */

header {
    position: relative;
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    background-color: var(--header-bg-color);
    height: 15vh;
    font-family: LutoClean, sans-serif; 
    box-shadow: 0 0 0.7em #333;
    z-index: 1;
}

header a {
    padding: 5px 15px;
    font-size: 70%;
    color: #000;
    align-self: center;
    text-decoration: none;
    text-align: center;
}

header a:hover {
    text-underline-offset: 5px;
    text-decoration: underline;
}

/* main content properties */

.hero {
    margin: auto;
    width: 100%;
    max-height: 85vh;
}

#discography-hero {
    background-image: url("assets/discography-hero.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 85vh;
    position: relative;
}

h1 {
    font-size: 250%;
    font-family: LutoClean, sans-serif;
}

.title-big {
    font-size: 150%;
}

.hero h1 {
    line-height: 1.5;
    letter-spacing: 15px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20%;
    text-align: center;
}

.hero img {
    width: 100%;
}

/* the section class binds the content to a portion of the page width */
section {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 60px auto 0 auto;
}

.narrow { 
    width: 80%;
    max-width: 900px;
}

section h2 {
    font-size: 200%;
    margin: 10px 0;
    color: #4c2dcc;
    font-style: italic;
}

section p {
    margin: 10px 0;
    font-size: 100%;
    line-height: 1.3;
    font-family: 'Lato', sans-serif;
}

.banner-img {
    width: 100%;
}

.heading-banner {
    height: 200px;
    width: 100%;
    background-color: #242323;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-banner h2 {
    color: #ffffff;
    font-size: 250%;
}

.tall {
    height: 75vh;
}

.tall .text-box {
    margin: 40px auto;
}

.tall h1 {
    font-family: Lato, sans-serif;
    font-style: italic;
}

.split-img {
    height: 100%;
    width: 50%;
    object-fit: cover;
    align-self: flex-start;
}

.pink {
    color: var(--pink);
}

.purple {
    color: var(--purple);
}

.subtitle {
    padding: 5px;
    font-size: 70%;
}

.small-picture {
    object-fit: contain;
    width: 250px;
}

.medium-picture {
    object-fit: contain;
    width: 500px;
    max-width: 50%;
}

.text-box {
    max-width: 700px;
}

/* card elements */

.card-container {
    display: flex;
    height: 20vw;
    max-height: 225px;
}

.song-card {
    position: relative;
    width: 25%;
    height: 100%;
    max-height: 225px;
}

.song-card video {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

.song-cover {
    opacity: 1;
    object-fit: cover;
    transition-duration: 750ms;
}

.song-teaser {
    object-fit: cover;
    z-index: -1;
}

.song-card:hover .song-cover {
    opacity: 0;
}

/* footer properties */

footer {
    margin-top: 40px;
    height: 15vh;
    background-color: var(--deep-bg-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    text-decoration: none;
}

.footer-icon {

}
