/* global properties */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@font-face {
  font-family: LutoClean;
  src: url(fonts/Lulo-Clean-W01-One-Bold.ttf);
}

@font-face {
    font-family: FuturaLT-Light;
    src: url(fonts/FuturaLT-Light.ttf);
}

:root {
    --header-bg-color: #f7f8ce;
    --main-bg-color: #ffffff;
    --deep-bg-color: #f0ff90;
}

body {
    font-family: FuturaLT-Light, sans-serif;
    font-weight: 100;
    background-color: var(--main-bg-color);
    font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
}

/* utility classes */

.right {
    align-self: flex-end;
}

.left {
    align-self: flex-start;
}

.center {
    align-self: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.flex {
    display: flex;
}

/* header properties */

header {
    position: relative;
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    background-color: var(--header-bg-color);
    height: 15vh;
    font-family: LutoClean, sans-serif; 
    box-shadow: 0 0 0.7em #333;
    z-index: 1;
}

header a {
    padding: 5px 15px;
    font-size: 70%;
    color: #000;
    align-self: center;
    text-decoration: none;
    text-align: center;
}

header a:hover {
    text-underline-offset: 5px;
    text-decoration: underline;
}

/* main content properties */

.hero-video {
    margin: auto;
    width: 100%;
    object-fit: contain;
    max-height: 85vh;
}

section {
    display: flex;
    width: 80%;
    max-width: 900px;
    justify-content: center;
    align-content: center;
    margin: 40px auto 0 auto;
}

section h2 {
    font-size: 200%;
    margin: 10px 0;
    color: #4c2dcc;
    font-style: italic;
}

section p {
    margin: 10px 0;
    font-size: 100%;
    line-height: 1.3;
    font-family: 'Lato', sans-serif;;
}

span {
    padding: 5px;
    font-size: 70%;
}

.small-picture {
    object-fit: contain;
    width: 250px;
}

.medium-picture {
    object-fit: contain;
    width: 500px;
    max-width: 50%;
}

.margin-left {
    margin-left: 25px;
}

.margin-right {
    margin-right: 25px;
}

.text-box {
    max-width: 700px;
}

/* footer properties */

footer {
    margin-top: 40px;
    height: 15vh;
    background-color: var(--deep-bg-color);
    display: flex;
}
